USE [master]
GO
/****** Object:  Database [QL_QuanCafe]    Script Date: 11/15/2015 21:37:32 ******/
CREATE DATABASE [QL_QuanCafe] ON  PRIMARY 
( NAME = N'QL_QuanCafe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\QL_QuanCafe.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_QuanCafe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\QL_QuanCafe_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_QuanCafe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_QuanCafe]
GO
/****** Object:  Table [dbo].[DM_ManHinh]    Script Date: 11/15/2015 21:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_ManHinh](
	[MaManHinh] [nvarchar](50) NOT NULL,
	[TenManHinh] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DM_] PRIMARY KEY CLUSTERED 
(
	[MaManHinh] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DM_ManHinh] ([MaManHinh], [TenManHinh]) VALUES (N'MH01', N'frmNguoiDung')
INSERT [dbo].[DM_ManHinh] ([MaManHinh], [TenManHinh]) VALUES (N'MH02', N'frmNhomNguoiDung')
INSERT [dbo].[DM_ManHinh] ([MaManHinh], [TenManHinh]) VALUES (N'MH03', N'frmThemNguoiDungVaoNhom')
/****** Object:  Table [dbo].[DANHSACHBAN]    Script Date: 11/15/2015 21:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANHSACHBAN](
	[MABAN] [varchar](50) NOT NULL,
	[TENBAN] [nvarchar](50) NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_DANHSACHBAN] PRIMARY KEY CLUSTERED 
(
	[MABAN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DANHSACHBAN] ([MABAN], [TENBAN], [TRANGTHAI]) VALUES (N'MB01', N'Bàn 1', N'Có Khách')
INSERT [dbo].[DANHSACHBAN] ([MABAN], [TENBAN], [TRANGTHAI]) VALUES (N'MB02', N'Bàn 2', N'Có Khách')
INSERT [dbo].[DANHSACHBAN] ([MABAN], [TENBAN], [TRANGTHAI]) VALUES (N'MB03', N'Bàn 3', N'Trống')
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/15/2015 21:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](10) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[DTHOAI] [char](11) NULL,
	[DCHI] [nvarchar](30) NULL,
 CONSTRAINT [PK__NHANVIEN__603F5114A295B10A] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DTHOAI], [DCHI]) VALUES (N'NV01      ', N'Trang', N'0972855709 ', N'Hồ Chí Minh')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DTHOAI], [DCHI]) VALUES (N'NV02      ', N'Diep', N'0965061485 ', N'Long An')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DTHOAI], [DCHI]) VALUES (N'NV03      ', N'linh', N'0979837360 ', N'Đắk Lắk')
/****** Object:  Table [dbo].[LOAITHUCDON]    Script Date: 11/15/2015 21:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAITHUCDON](
	[MALOAI] [char](10) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
 CONSTRAINT [PK__LOAITHUC__2F633F232F2336D4] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[LOAITHUCDON] ([MALOAI], [TENLOAI]) VALUES (N'M01       ', N'Cà phê bột')
INSERT [dbo].[LOAITHUCDON] ([MALOAI], [TENLOAI]) VALUES (N'M02       ', N'Cà phê hạt')
INSERT [dbo].[LOAITHUCDON] ([MALOAI], [TENLOAI]) VALUES (N'M03       ', N'Cà phê ly')
/****** Object:  Table [dbo].[HOADON]    Script Date: 11/15/2015 21:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHOADON] [char](10) NOT NULL,
	[TONGTIEN] [float] NULL,
	[MANV] [char](10) NULL,
	[NGAYLAP] [date] NULL,
 CONSTRAINT [PK__HOADON__A4999DF5D7AEF2DB] PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[HOADON] ([MAHOADON], [TONGTIEN], [MANV], [NGAYLAP]) VALUES (N'HD01      ', 30000, N'NV01      ', CAST(0xAA3A0B00 AS Date))
INSERT [dbo].[HOADON] ([MAHOADON], [TONGTIEN], [MANV], [NGAYLAP]) VALUES (N'HD02      ', 60000, N'NV01      ', CAST(0xAA3A0B00 AS Date))
INSERT [dbo].[HOADON] ([MAHOADON], [TONGTIEN], [MANV], [NGAYLAP]) VALUES (N'HD03      ', 30000, N'NV01      ', CAST(0xAB3A0B00 AS Date))
/****** Object:  Table [dbo].[QL_PhanQuyen]    Script Date: 11/15/2015 21:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_PhanQuyen](
	[MaNhomNguoiDung] [nvarchar](20) NOT NULL,
	[MaManHinh] [nvarchar](50) NOT NULL,
	[CoQuyen] [bit] NOT NULL,
 CONSTRAINT [PK_QL_PhanQuyen] PRIMARY KEY CLUSTERED 
(
	[MaNhomNguoiDung] ASC,
	[MaManHinh] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[QL_PhanQuyen] ([MaNhomNguoiDung], [MaManHinh], [CoQuyen]) VALUES (N'admin', N'MH01', 1)
INSERT [dbo].[QL_PhanQuyen] ([MaNhomNguoiDung], [MaManHinh], [CoQuyen]) VALUES (N'admin', N'MH02', 1)
INSERT [dbo].[QL_PhanQuyen] ([MaNhomNguoiDung], [MaManHinh], [CoQuyen]) VALUES (N'admin', N'MH03', 1)
/****** Object:  Table [dbo].[QL_NhomNguoiDung]    Script Date: 11/15/2015 21:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QL_NhomNguoiDung](
	[MaNhom] [varchar](20) NOT NULL,
	[TenNhom] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
 CONSTRAINT [PK_QL_NhomNguoiDung] PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[QL_NhomNguoiDung] ([MaNhom], [TenNhom], [GhiChu]) VALUES (N'admin', N'admin', N'aaaaa')
INSERT [dbo].[QL_NhomNguoiDung] ([MaNhom], [TenNhom], [GhiChu]) VALUES (N'user', N'user', N'user')
/****** Object:  Table [dbo].[QL_NguoiDungNhomNguoiDung]    Script Date: 11/15/2015 21:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QL_NguoiDungNhomNguoiDung](
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MaNhomNguoiDung] [varchar](20) NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
 CONSTRAINT [PK_QL_NguoiDungNhomNguoiDung] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC,
	[MaNhomNguoiDung] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[QL_NguoiDungNhomNguoiDung] ([TenDangNhap], [MaNhomNguoiDung], [GhiChu]) VALUES (N'123', N'admin', N'')
INSERT [dbo].[QL_NguoiDungNhomNguoiDung] ([TenDangNhap], [MaNhomNguoiDung], [GhiChu]) VALUES (N'123', N'user', N'')
INSERT [dbo].[QL_NguoiDungNhomNguoiDung] ([TenDangNhap], [MaNhomNguoiDung], [GhiChu]) VALUES (N'333', N'user', N'')
/****** Object:  Table [dbo].[QL_NguoiDung]    Script Date: 11/15/2015 21:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_NguoiDung](
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](100) NULL,
	[HoatDong] [bit] NULL,
 CONSTRAINT [PK_QL_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[QL_NguoiDung] ([TenDangNhap], [MatKhau], [HoatDong]) VALUES (N'123', N'123', 1)
INSERT [dbo].[QL_NguoiDung] ([TenDangNhap], [MatKhau], [HoatDong]) VALUES (N'333', N'333', 1)
INSERT [dbo].[QL_NguoiDung] ([TenDangNhap], [MatKhau], [HoatDong]) VALUES (N'44', N'444', 1)
/****** Object:  Table [dbo].[THUCDON]    Script Date: 11/15/2015 21:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THUCDON](
	[MAMON] [char](10) NOT NULL,
	[TENMON] [nvarchar](50) NULL,
	[GIA] [float] NULL,
	[MALOAI] [char](10) NULL,
	[DVT] [nvarchar](50) NULL,
	[SOLUONG] [int] NULL,
	[MOTA] [nvarchar](90) NULL,
 CONSTRAINT [PK__THUCDON__7B73E9854496913B] PRIMARY KEY CLUSTERED 
(
	[MAMON] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[THUCDON] ([MAMON], [TENMON], [GIA], [MALOAI], [DVT], [SOLUONG], [MOTA]) VALUES (N'TD01      ', N'Capuchino', 15000, N'M03       ', N'Ly', 31, N'Cà phê')
INSERT [dbo].[THUCDON] ([MAMON], [TENMON], [GIA], [MALOAI], [DVT], [SOLUONG], [MOTA]) VALUES (N'TD02      ', N'Espresso', 20000, N'M03       ', N'Ly', 0, N'Cà phê ')
INSERT [dbo].[THUCDON] ([MAMON], [TENMON], [GIA], [MALOAI], [DVT], [SOLUONG], [MOTA]) VALUES (N'TD03      ', N'Matcha', 40000, N'M06       ', N'Ly', 46, N'Trà xanh Nhật Bản')
/****** Object:  Table [dbo].[NHAPHANG]    Script Date: 11/15/2015 21:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHAPHANG](
	[MANHAP] [char](10) NOT NULL,
	[NGAYNHAP] [date] NULL,
	[TONGTIEN] [float] NULL,
	[MANV] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHAP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[NHAPHANG] ([MANHAP], [NGAYNHAP], [TONGTIEN], [MANV]) VALUES (N'NH01      ', CAST(0x9E3A0B00 AS Date), 150000, N'NV02      ')
INSERT [dbo].[NHAPHANG] ([MANHAP], [NGAYNHAP], [TONGTIEN], [MANV]) VALUES (N'NH02      ', CAST(0x7B3A0B00 AS Date), 475000, N'NV03      ')
INSERT [dbo].[NHAPHANG] ([MANHAP], [NGAYNHAP], [TONGTIEN], [MANV]) VALUES (N'NH03      ', CAST(0x9F3A0B00 AS Date), 260000, N'NV01      ')
/****** Object:  Table [dbo].[GOIMON]    Script Date: 11/15/2015 21:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GOIMON](
	[MABAN] [varchar](50) NOT NULL,
	[MAMON] [char](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[THANHTIEN] [float] NULL,
	[GHICHU] [nvarchar](50) NULL,
	[NGAYLAP] [date] NULL,
 CONSTRAINT [PK_GOIMON] PRIMARY KEY CLUSTERED 
(
	[MABAN] ASC,
	[MAMON] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[GOIMON] ([MABAN], [MAMON], [SOLUONG], [DONGIA], [THANHTIEN], [GHICHU], [NGAYLAP]) VALUES (N'MB07', N'TD01      ', 1, 15000, 15000, N'', CAST(0xAB3A0B00 AS Date))
INSERT [dbo].[GOIMON] ([MABAN], [MAMON], [SOLUONG], [DONGIA], [THANHTIEN], [GHICHU], [NGAYLAP]) VALUES (N'MB07', N'TD04      ', 1, 15000, 15000, N'', CAST(0xAB3A0B00 AS Date))
INSERT [dbo].[GOIMON] ([MABAN], [MAMON], [SOLUONG], [DONGIA], [THANHTIEN], [GHICHU], [NGAYLAP]) VALUES (N'MB08', N'TD01      ', 2, 15000, 30000, N'', CAST(0xAA3A0B00 AS Date))
/****** Object:  Table [dbo].[CHITIETNHAP]    Script Date: 11/15/2015 21:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETNHAP](
	[MACTNHAP] [int] IDENTITY(1,1) NOT NULL,
	[MANHAP] [char](10) NULL,
	[MAMON] [char](10) NULL,
	[DVT] [char](10) NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[THANHTIEN] [float] NULL,
 CONSTRAINT [PK__CHITIETN__05CC53695E364212] PRIMARY KEY CLUSTERED 
(
	[MACTNHAP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CHITIETNHAP] ON
INSERT [dbo].[CHITIETNHAP] ([MACTNHAP], [MANHAP], [MAMON], [DVT], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (1, N'NH01      ', N'TD01      ', N'Ly        ', 10, 15000, 150000)
INSERT [dbo].[CHITIETNHAP] ([MACTNHAP], [MANHAP], [MAMON], [DVT], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (2, N'NH02      ', N'TD01      ', N'Ly        ', 20, 15000, 300000)
INSERT [dbo].[CHITIETNHAP] ([MACTNHAP], [MANHAP], [MAMON], [DVT], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (9, N'NH03      ', N'TD01      ', N'Ly        ', 10, 20000, 200000)
SET IDENTITY_INSERT [dbo].[CHITIETNHAP] OFF
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 11/15/2015 21:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MACTHD] [int] IDENTITY(1,1) NOT NULL,
	[MAHOADON] [char](10) NULL,
	[MAMON] [char](10) NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[THANHTIEN] [float] NULL,
 CONSTRAINT [PK__CHITIETH__F50CB4CBFFCED9DC] PRIMARY KEY CLUSTERED 
(
	[MACTHD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CHITIETHOADON] ON
INSERT [dbo].[CHITIETHOADON] ([MACTHD], [MAHOADON], [MAMON], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (1, N'HD01      ', N'TD04      ', 2, 15000, 30000)
INSERT [dbo].[CHITIETHOADON] ([MACTHD], [MAHOADON], [MAMON], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (2, N'HD02      ', N'TD01      ', 4, 15000, 60000)
INSERT [dbo].[CHITIETHOADON] ([MACTHD], [MAHOADON], [MAMON], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (3, N'HD03      ', N'TD01      ', 2, 15000, 30000)
SET IDENTITY_INSERT [dbo].[CHITIETHOADON] OFF
/****** Object:  ForeignKey [FK_THUCDON_LOAITHUCODN]    Script Date: 11/15/2015 21:37:38 ******/
ALTER TABLE [dbo].[THUCDON]  WITH CHECK ADD  CONSTRAINT [FK_THUCDON_LOAITHUCODN] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAITHUCDON] ([MALOAI])
GO
ALTER TABLE [dbo].[THUCDON] CHECK CONSTRAINT [FK_THUCDON_LOAITHUCODN]
GO
/****** Object:  ForeignKey [FK_NHAPHANG_NHANVIEN]    Script Date: 11/15/2015 21:37:38 ******/
ALTER TABLE [dbo].[NHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_NHAPHANG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHAPHANG] CHECK CONSTRAINT [FK_NHAPHANG_NHANVIEN]
GO
/****** Object:  ForeignKey [FK_GOIMON_DANHSACHBAN]    Script Date: 11/15/2015 21:37:38 ******/
ALTER TABLE [dbo].[GOIMON]  WITH CHECK ADD  CONSTRAINT [FK_GOIMON_DANHSACHBAN] FOREIGN KEY([MABAN])
REFERENCES [dbo].[DANHSACHBAN] ([MABAN])
GO
ALTER TABLE [dbo].[GOIMON] CHECK CONSTRAINT [FK_GOIMON_DANHSACHBAN]
GO
/****** Object:  ForeignKey [FK_CHITIETNHAP_THUCDON]    Script Date: 11/15/2015 21:37:38 ******/
ALTER TABLE [dbo].[CHITIETNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETNHAP_THUCDON] FOREIGN KEY([MAMON])
REFERENCES [dbo].[THUCDON] ([MAMON])
GO
ALTER TABLE [dbo].[CHITIETNHAP] CHECK CONSTRAINT [FK_CHITIETNHAP_THUCDON]
GO
/****** Object:  ForeignKey [FK_NHAPHANG_CHITIETNHAP]    Script Date: 11/15/2015 21:37:38 ******/
ALTER TABLE [dbo].[CHITIETNHAP]  WITH CHECK ADD  CONSTRAINT [FK_NHAPHANG_CHITIETNHAP] FOREIGN KEY([MANHAP])
REFERENCES [dbo].[NHAPHANG] ([MANHAP])
GO
ALTER TABLE [dbo].[CHITIETNHAP] CHECK CONSTRAINT [FK_NHAPHANG_CHITIETNHAP]
GO
/****** Object:  ForeignKey [FK_CHITIETHOADON_HOADON]    Script Date: 11/15/2015 21:37:38 ******/
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_HOADON] FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADON] ([MAHOADON])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_HOADON]
GO
/****** Object:  ForeignKey [FK_CHITIETHOADON_THUCDON]    Script Date: 11/15/2015 21:37:38 ******/
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_THUCDON] FOREIGN KEY([MAMON])
REFERENCES [dbo].[THUCDON] ([MAMON])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_THUCDON]
GO
